<div class="modal modal-signin position-static d-block bg-dark py-5" tabindex="-1" role="dialog" id="modalSignin">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-header p-5 pb-4 border-bottom-0">
                <h1 class="fw-bold mb-0 fs-2">Login</h1>
            </div>
            <div class="modal-body p-5 pt-0">
                <form action="/api/sessions/login" method="POST">
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control rounded-3" name="email" id="inputEmail"
                            placeholder="name@example.com" required>
                        <label for="floatingInput">Email address</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control rounded-3" name="password" id="inputPassword"
                            placeholder="Password" autocomplete="off" required>
                        <label for="floatingPassword">Password</label>
                        <small class="text-muted">Forgot Password? <a href="/passwordReset">Reset Password</a></small>
                    </div>
                    <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Sign In</button>
                </form>
                <a href="/api/sessions/github">
                    <button class="w-100 mb-2 btn btn-lg rounded-3 btn-secondary">Sign In with GitHub <img src="/images/github-logo.png" alt="GitHub Logo" width="30" height="30"></button>
                </a>
                <small class="text-muted">Not registered? <a href="/register">Create a new account!</a></small>
                {{#if success}}
                <div class="alert alert-success mb-3" role="alert">
                    <h4 class="alert-heading">Success!</h4>
                    <p>The user was created successfully.</p>
                </div>
                {{/if}}
                {{#if error}}
                <div class="alert alert-danger mb-3" role="alert">
                    <h4 class="alert-heading">Error!</h4>
                    <p>The email or password you entered is incorrect.</p>
                </div>
                {{/if}}
                {{#if changePasswordSuccess}}
                <div class="alert alert-success mb-3" role="alert">
                    <h4 class="alert-heading">Success!</h4>
                    <p>Your password has been changed.</p>
                </div> 
                {{/if}}
                {{#if changePasswordError}}
                <div class="alert alert-danger mb-3" role="alert">
                    <h4 class="alert-heading">Error!</h4>
                    <p>Your password could not be changed.</p>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>