<div class="modal modal-signin position-static d-block bg-dark py-5" tabindex="-1" role="dialog" id="modalSignin">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-header p-5 pb-4 border-bottom-0">
                <h1 class="fw-bold mb-0 fs-2">Password Change</h1>
            </div>
            <div class="modal-body p-5 pt-0">
                <form action="/api/sessions/password/reset/{{token}}" method="POST">
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control rounded-3" name="password" id="inputPassword"
                            placeholder="New Password" autocomplete="off" required>
                        <label for="floatingPassword">New Password</label>
                        <input type="hidden" name="token" value="{{token}}">
                    </div>
                    <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Change Password</button>
                </form>
            </div>
        </div>
    </div>
</div>