<div class="modal modal-signin position-static d-block bg-dark py-5" tabindex="-1" role="dialog" id="modalSignin">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-header p-5 pb-4 border-bottom-0">
                <h1 class="fw-bold mb-0 fs-2">Password Reset</h1>
            </div>
            <div class="modal-body p-5 pt-0">
                <form action="/api/sessions/password/reset" method="POST">
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control rounded-3" name="email" id="inputEmail"
                            placeholder="name@example.com" required>
                        <label for="floatingInput">Email address</label>
                    </div>
                    <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Reset Password</button>
                </form>
                {{#if success}}
                <div class="alert alert-success mb-3" role="alert">
                    <h4 class="alert-heading">Success!</h4>
                    <p>An email has been sent to the email address you provided.</p>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>